java-study-mysoa/src/main/resources/META-INF/mysoa-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.yee.com/schema/mysoa"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.yee.com/schema/mysoa"
            elementFormDefault="qualified">
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="type" type="xsd:string"/>
            <xsd:attribute name="address" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="intfClazz" type="xsd:string"/>
            <xsd:attribute name="loadBalance" type="xsd:string"/>
            <xsd:attribute name="protocol" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="protocol">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="port" type="xsd:string"/>
            <xsd:attribute name="host" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="intfClazz" type="xsd:string"/>
            <xsd:attribute name="ref" type="xsd:string"/>
            <xsd:attribute name="protocol" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>